/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/* VARIABLES */
:root {
    --green: #00B172;
    --light-black: #1A1A1A;
}

/* GENERALES */
* {
    font-family: Roboto;
}
html, body {
    padding: 0;
    margin: 0;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 45px;
}
nav img{
    height: 70px;
}
.link-nav {
    color: var(--light-black);
    text-decoration: none;
    font-size: 1.5em;
    padding: 0 20px;
}
.header-content {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: 800px;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-content h1 {
    font-size: 5em;
    margin: 10px 0;
}
.header-subheader {
    font-weight: normal;
    font-size: 2em;
    margin: 5px 0;
}

/*////////*/
/* MIDDLE */
/*////////*/

.middle-section {
    text-align: center;
}
.middle-section > div:first-of-type{
    display: flex;
    justify-content: center;
}
.middle-section-h1 {
    font-size: 2.3em;
    border-bottom: 5px solid var(--green);
    width: 350px;
    padding: 10px 0;
}
.features {
    display: flex;
    justify-content: space-around;
}
.features div {
    width: 33%;
    text-align: center;
}
.features div img {
    height: 100px;
}
.title-features {
    font-size: 2em;
    color: var(--green);
}
.subtitle-features {
    font-weight: lighter;
    font-size: 1.7em;
    width: 238px;
    margin: 0 auto;
}
/*////////*/
/* FOOTER */
/*////////*/
footer {
    display: flex;
    position: relative;
    padding: 40px;
}
footer > div:first-of-type{
    background-color: var(--green);
    padding: 30px 353px 30px 95px;
    color: white;
}
.footer-topheader {
    border-bottom: 3px solid white;
    line-height: 2.1em;
    width: 488px;
    font-size: 2.5em;
    font-weight: 500;
    border-bottom: 2px solid white;
    line-height: 1.7;
}
.footer-header {
    font-size: 2em;
}
.footer-subheader {
    font-weight: lighter;
    line-height: 1.6;
}
.div-subheader {
    width: 71%;
}
.footer-img-spotify {
    position: absolute;
    bottom: 416px;
    width: 150px;
    left: 869px;
}
aside {
    position: absolute;
    top: 1396px;
    left: 1051px;
}
.div-spotify-app {
    padding: 50px;
    background-color: var(--green);
}
.spotify-app {
    width: 405px;
}